@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto','Courier New', Courier, monospace;
}

#header {
    text-align: center;
    padding: 2rem;
}

#header h1 {
    margin-bottom: 0.25rem;
    font-size: 5rem;
}